<% if current_user == @event.user %>
  <h1>Modifier <%= @event.name %></h1>
  <%= simple_form_for @event do |f|%>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :address %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <%= f.input :public %>
      <%= f.input :max_people %>
      <%= f.input :event_tag_ids,
        collection: Tag.all,
        as: :check_boxes,
        required: true,
        checked: @event.tags.map {|tag| tag.id }
      %>
      <%= f.submit %>
  <% end %>
<% else %>
  <p>Vous ne pouvez pas modifier cet évènement!</p>
<% end %>
