<div class="body-container">
  <div class="banner">
    <h5>NearNow</h5>
  </div>
  <div class="mapbox-design"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    data-map-page-value="index"
    data-map-user-location-value="<%= session[:event].nil? ? [5.3699525 ,43.2961743] : [session[:event]["longitude"], session[:event]["latitude"]] %>">

  <% if user_signed_in? %>
    <div class="profile-page">
      <div class="profile-infos">
        <div class="username">
          <h5> @<%= current_user.username %></h5>
        </div>
        <div class="username-description">
          <p><%= current_user.description%></p>
        </div>
      </div>

      <div class="profile-homepage-description">
        <p><%= Participant.where(user_id: current_user.id).count %> participation à des évènements</p>
      </div>

      <div class="profile-actions">
        <%= link_to "Calendrier", dashboard_path, class: "button-blueish" %>
        <%= link_to "Créer un évènement", new_event_path, class: "button-blueish" %>
      </div>

    </div>
    <% end %>
  </div>
</div>
