<div class="title-create">
  <h4>Créer un évènement</h4>
</div>

<div class="container-heba form-color">
  <%= simple_form_for @event, class: "form-content" do |f| %>
    <div class="top-space">
      <%= f.input :name, label: "Nom" %>
    </div>
      <%= f.input :description, label: "Description" %>
      <%= f.input :address, label: "Adresse" %>
      <%= f.input :start_date,
        as: :string,
        label: "Date de début",
        input_html: { data: { controller: "datepicker" } }%>
      <%= f.input :end_date,
        as: :string,
        label: "Date de fin",
        input_html: { data: { controller: "datepicker" } }%>
      <%= f.input :public %>
      <%= f.input :max_people, label: "Maximum de participants", input_html: {value: '100'}%>

      <div class="form-tags">
        <%= f.input :event_tag_ids,
          collection: Tag.all,
          as: :check_boxes,
          input_html: { class: "tag-selector" },
          item_wrapper_class: 'form-tags',
          required: true %>
      </div>

      <div class="submit-button-formulaire">
        <%= f.submit class: "submit-btn", value: "Créer" %>
      </div>
  <% end %>
</div>
