
<div class="body-container">
  <h1 class="dashboard-title">Dashboard</h1>

  <div class="dashboard-wrapper">
    <div class="dashboard-synopsis">
      <p>Hey <strong><%= current_user.username %></strong>! Prêt à sortir?</p>
    </div>

      <%= month_calendar(events: @events) do |date, events| %>
        <%= date.day %>
          <% events.each do |event| %>
              <%= event.name %>
          <% end %>
      <% end %>
  </div>

  <div class="carte">
    <%= link_to "Retour à la carte", root_path, class: "carte-text" %>
  </div>
</div>
