
<div class="body-container">
  <div class="dashboard-title">
    <h1>Dashboard</h1>
  </div>

    <div class="dashboard-synopsis">
      <p> <span class="greetings-dashboard">Hey <strong><%= current_user.username %></strong> !</span> <br>
      <span class="greetings-dashboard-paragraph">Prêt à sortir?</span></p>
    </div>

    <div class="whole-calendar" data-controller="calendar-popup" data-calendar-popup-events-value="<%= @events.to_json%>">
      <%= month_calendar(events: @events) do |date, events| %>
        <h5> <%= date.day %> </h5>
        <% events.each do |event| %>
          <div class="calendar-infobulle"
            data-action="click->calendar-popup#fire"
            data-calendar-popup-target="event"
            data-eventid="<%= event.id%>"
            >

            <%= event.name.split(" ").first %>
          </div>
        <% end %>
      <% end %>

      <div data-calendar-popup-target="eventpopup" class="event-popup">
        <%# Ici il y a les events-infos  %>
      </div>

    </div>
</div>
