<p>dashboard</p>
<p>Hey <strong><%= current_user.username %></strong>! Prêt à sortir?</p>
<div class="calendar">
  <%= month_calendar(events: @events) do |date, events| %>
    <%= date.day %>
      <% events.each do |event| %>
    <div>
      <%= event.name %>
    </div>
  <% end %>
  <% end %>
</div>
<%= link_to "Retour à la carte", root_path %>
